* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, canvas {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

h1 {
  color: green;
  text-decoration: underline red;
  top: 6%;
}